@import url(header.css);
@import url(landing.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color_font1: #1d1d1d;
}

.fd_col{
  display: flex;
  flex-direction: column;
}

.pt_5{
  padding-top: 5px;
}
.pt_10{
  padding-top: 10px;
}
.pt_15{
  padding-top: 15px;
}
.pt_20{
  padding-top: 20px;
}
.pt_25{
  padding-top: 25px;
}
.pt_30{
  padding-top: 30px;
}

.mt_5{
  margin-top: 5px;
}
.mt_10{
  margin-top: 10px;
}
.mt_15{
  margin-top: 15px;
}
.mt_20{
  margin-top: 20px;
}
.mt_25{
  margin-top: 25px;
}
.mt_30{
  margin-top: 30px;
}